<div class="container cont-about mx-auto text-start">
    <div class="mb-4">
        <h3>About </h3>
        <h1>George Gutierrez</h1>
    </div>
    
    <p>
        📌 Hey there, I’m George! First of all, thanks for visiting my personal website.
    </p>
    <h3 class="mt-5">
        Who Am I?
    </h3>
    <p>
        I’m a full-stack developer from Mexico who is mainly interested in web technologies.
        Developing my skills as a self-taught person with books and online platforms (like 
        Platzi, Udemy, and Pluralsight).
        My curiosity makes me able to quickly learn new tools and technologies when needed.
        Last but not least, I like simplicity.
    </p>
    <h3 class="mt-5">
        My Stack
    </h3>
    <p>
        These are the technologies I like to use in my projects:
    </p>


    <ul>
        <li class="d-flex mt-0" *ngFor="let tecnologia of tecnologias">
            <div class="iconos me-2" [innerHTML]="tecnologia.img"></div>
            <p>{{tecnologia.name}}</p>
        </li>
    </ul>
   
    <app-footer/>
    
</div>