
.t-morado {
    color: rgba(188, 51, 222, 1);
}

.devicon-github-original.iconos {
    font-size: 20px;
}


.cont-portfolio {
    margin-top: 80px;
}

.cartas-inner {
    position: relative;
    width: 100%;
    height: 200px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.cartas:hover .cartas-inner {
    transform: rotateY(180deg);
}

.cartas-front,
.cartas-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-radius: 5px;
}

.cartas-back {
    transform: rotateY(180deg);
    height: 200px;
}

.cartas img {
    object-fit: cover;
}

.cartas-back a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    filter: brightness(80%);
}

.cartas-back a:hover {
    filter: brightness(100%);
}

.cartas-back i {
    width: 80px;
    height: 80px;
}


/* Animaciones del card-back */
.linkiconos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-iconos {
  width: 24px;
  height: 24px;  
  position: relative;
  overflow: hidden;
}

.cont-iconos span {
  transition: transform 0.2s ease-out;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.cont-iconos span:first-child {
  transform: translateX(0); 
}

.cont-iconos span:last-child {
  transform: translateX(-100%); 
}

.linkiconos:hover .cont-iconos span:first-child {
  transform: translateX(100%); 
}

.linkiconos:hover .cont-iconos span:last-child {
  transform: translateX(0); 
}

.cont-iconos[data-animation="to-right"] span:last-child {
  transform: translateY(-100%); 
}

.cont-iconos[data-animation="to-right"]:hover span:first-child {
  transform: translateY(100%); 
}

.cont-iconos[data-animation="to-right"]:hover span:last-child {
  transform: translateY(0); 
}
