<div class="fondo">
  <div class="container">
    <div class="contenedor text-center">
      <div class="vertical-line d-flex justify-content-start align-items-center position-relative">
        <a routerLink="/" class="mt-5 fw-bold link">georggg.dev</a>
      </div>
      <div class="principal">
        <!-- <app-principal/> -->
        <router-outlet></router-outlet>
      </div>
      <div class="vertical-line d-flex justify-content-end align-items-center position-relative">
        <app-navegador/>
      </div>
    </div>

  </div>

</div>
  
