<div class="text-center fondo">
  <div class="row">
    <div class=" row col-md-12">
        <div class="vertical-line col-md-2 d-flex justify-content-center position-relative">
            <a routerLink="/" class="mt-5 fw-medium link">georgegutgas.dev</a>
        </div>
        <div class="col-md-8">
            <!-- <app-principal/> -->
             <router-outlet></router-outlet>
        </div>
        <div class="vertical-line col-md-2 d-flex justify-content-center position-relative">
            <app-navegador/>
        </div>

        
      </div>
  </div>
</div>